<div style="font-family: sans-serif">
  <p>Olá <%= @resource.name %>,</p>

  <p>Alguém solicitou a mudança da sua senha. Você pode fazer isso através do link abaixo.</p>

  <p><%= link_to 'Alterar minha senha', edit_password_url(@resource, :reset_password_token => @token) %></p>

  <p>Se você não fez essa solicitação, por favor ignore esse email.</p>
  <p>Sua senha não vai mudar até você acessar o link acima e criar uma nova.</p>
</div>